footer {
    padding-top: 115px;
    background: var(--second-background-color);
    transition: var(--trasition);
}

footer h5 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

.footer-container h4 {
    margin-bottom: 22px;
}

.params-links li {
    margin-top: 10px;
}

.params-links li a{
    color: var(--dark-color);
    text-transform:uppercase;
    font-size:15px;
    transition: var(--trasition);
}

.params-links li a:hover{
    color: var(--main-color);
}

/*-----------    Media Queris    -----------*/

@media(max-width: 1024px){
    .footer-container{
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
}

@media(max-width: 540px){
    .footer-container{
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
}